body {
	color: rgb(0, 0, 0);
    background-color: rgb(200, 200, 200);
    font-family: "consolas";
    text-align: center;
	
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 98vh; 
}

#content {
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
}

footer {
	font-size: 90%; 
	padding-top: 1.5%; 
	padding-bottom: 1.5%; 
}
